streamlit
fastapi
pydantic
sqlalchemy
numpy
matplotlib

langchain
langchain-core
langchain-community
langchain-openai
langchain-huggingface
langchain-text-splitters
langgraph

pypdf
sentence-transformers
faiss-cpu
pyodbc
python-dotenv

PyJWT
pwdlib[argon2]
python-jose

uvicorn
python-multipart
email-validator